$bgcolor:pink;
$fontFamily:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$fontSize:"1.2rem";
$navBgColor:#30a7c7;
$bannerBgColor:rgb(105,255,133);
$myBorder:1px solid black;
$fontColor:white;
$buttonColor:rgb(224,255,169);
$marginReset:0;
$fontWeight:bolder;